table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    background-color: beige;
    font-family: sans-serif;
  }
  
td, th {
    
    padding: 10px 20px;
    border-collapse: collapse;
  }
  
th {
    background-color: rgb(235,235,235);
  }
  
td {
    text-align-last: right;
  }

  
caption {
    padding: 10px;
  }

p {
    font-family: sans-serif;
    text-align: center;
}